@model FutureWeb.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}


<h1>Login View</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary() <!--Tells if the field is required on the html form-->  

    <div>
      
        @Html.EditorFor(x => x.Username, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div>
       
        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div>
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
}



@* Login Popup *@

@*<div id="id01" class="modal">
    <form class="modal-content animate">
        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <input type="checkbox" checked="checked"> Remember me
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>


<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>*@

