
@{

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the future</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Cover.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
</head>
<body>

   <img src="http://67.media.tumblr.com/e957e2afc3af73f970e9f8016ee06c74/tumblr_o31g2sDXPa1s15ztyo1_1280.jpg" class="img-responsive" alt="Responsive image">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container-fluid">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
                     <div class="jumbotron">
                      <h1>Bootstrap Tutorial</h1> 
                      <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive,
                      mobile-first projects on the web.</p> 
                    </div>
                    <div class="container">
                      <p>This is some text.</p> 
                      <p>This is another text.</p> 
                    </div>
       

        </div>

      </div>

    </div>


</body>
</html>

