
@{

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the future</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Cover.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
</head>
<body>

 <div class="cover">
        <div id="cover-caption">
            <div class="container">
                <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h10 class="display-2">Welcome Home</h10>
                    <br />
                    <p1>Welcome to the future, where you will can imagine and create what future generations will come to live by.</p1>
                    <form action="" class="form-inline">
                        <div class="form-group">
                            <label class="sr-only">Email</label>
                            <input type="text" class="form-control form-control-lg" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Password</label>
                            <input type="password" class="form-control form-control-lg" placeholder="Password" />
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Login</button> 
                    </form>
                    <br />

                    <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">&dArr;</a>
                    <a href="home.html" class="btn btn-secondary-outline btn-sm" role="button">&Acirc;</a>
                
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

